@font-face {
    font-family: digital;
    src: url("digital.ttf");

}



body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
#firstd{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background: #19244D;
    
    width: 600px;
    
    
    padding-bottom: 50px;
    border-radius: 10px;
}

.container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding-bottom: 50px;
    border-radius: 10px;
    
    
    
    
}
.Box{
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
        

}

/* .BClass{
    
    
} */

.homeScreen{
    background: #0A0001;
    
    margin: 10 0 20px 0;;
    padding: 0 0 10px 0;;
    width: 150px;
    height: 100px;
    text-align-last: center;
    border-radius: 5px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
    display: grid;
    justify-content: top;
    align-items: top;

    /* margin-top:0px; */
    /* margin-top: 2px; */


}
#D1{
    margin: 0px;
    padding:0px;
    color: red;
    font-family: digital;
    font-size: 100px; 

}
#K2{
    margin: 0px;
    padding:0px;
    color: red;
    font-family: digital;
    font-size: 100px; 

}

#Title{
    /* margin:0px; */
    font-size: 25px;
    /* padding:0px; */
    color: white;
    margin: 0;
    padding: 20 0 0 0;    
    
}
.btn{
    width: 45px;
    background: none;
    border: 2px solid #9AABD8;
    color: white;
    border-radius: 5px;
    font-family: digital;
    font-size: 25px;   
    
}

.txt{
    margin: 10px 0 0 0;

    padding: 5px 0 5px 0;
    width: 150px;
    border-radius: 10px;
    font-family: digital;
    text-align: center;
    font-weight:bold;
    font-size: 25px;
    
    
    
}
#add{
    margin: 10px 0 0 0;
    width: 150px;
}
.btn:active, #strt:active{
    /* background-color:rgb(255, 255, 5); */
    color:rgb(232, 248, 6);
    border: 2px solid rgb(232, 248, 6);

}
.ply{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* padding-bottom: 50px;
    border-radius: 10px; */

}
#strt{
    width: 150px;
    background: #19244D;
    border: 2px solid white;
    color: white;
    font-family: digital;
    font-size: 25px;
    border-radius: 20px;
}
 #scre{ /* scre mean score id */
    
    background-color: black;
    color: Red;
    text-align: center;
    border-radius: 20px;
    /* font-size: 20px; */
    /* margin: 10px 0 0 0; */
    width: 150px;
    font-weight:bold;
    font-size: 25px;
    padding: 2px 0 2px 0;
    font-family: digital;
    
}
